<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gallery carousel 1</title>
    <link rel="stylesheet" href="peek-itinerary-container.css"/>
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="content-area" style="background: #f4f4f4; width: 95%; margin: 0 auto;">


<div class="region-1-carousel row">
    <h2 class="region-v1-section-header">Highlighted Guest Photographers</h2>
<div class="row itinerary-row">
    <div class="col-md-4">
    <div class="pk-itinerary-container">
        <div class="background-photo-2"></div>
        <div class="background-photo-1"></div>
        <a href="#" class="photo-itinerary image-link">
        <div class="photo-container-itinerary">
            <img src="https://d2fijpsef22722.cloudfront.net/photos/small/3720518668-in-the-neighborhood-with-kevin-negandhi.jpg" class="itinerary-main-image" alt=""/>
        </div>
            <div class="title-overlay">
                <h4 class="res-pd-listing-text">
In the neighborhood with Mark Stehle
                </h4>
            </div>
            <div class="portrait-overlay">
                <p class="perfect-day clock res-pd-listing-heading">The Perfect Profile</p>
                <img alt="portrait image" class="profile" src="https://d2fijpsef22722.cloudfront.net/photos/pd_portrait_small/2184464798-in-the-neighborhood-with-espn-sportscenter-anchor.jpg">

            </div>
        </a>
        <div class="wishable-tooltip">
            <p></p>
            <p></p>
        </div>
    </div>
    </div>
</div>
</div>
 </div>


</body>
</html>