<div layout="row" layout-align="center" layout>
    <div flex="60">
        <div class="splash-content-container">
            <div layout="column" layout-align="center center">

                <h1 class="headline">Welcome to Ubrpics</h1>
                <!--<h4 class="subheadline">Helping People in Philly Silicon Valley-fi Their Approach to Profile Pics</h4>-->
                <h4 class="subheadline">Silicon Valley-fi Your Approach to Profile Pics</h4>
                <div class="image-container" style="margin-top: 40px;">
                    <img src="../images/placeit1-350h.jpg" style="box-shadow: 0 3px 3px 3px #666" alt=""/>
                </div>
                <!--<div style="height:340px; width:400px; background:#eee; margin-top: 40px;"></div>-->
            </div>
        </div>
    </div>


    <div flex="40" layout-fill>
        <div class="splash-content-container">

            <div class="login-nav-container">
                <div layout="column" layout-align="center center" layout-padding layout-margin>
                    <div>
                        <div style="height:225px; width:285px; background: #eee;">
                            <a href="#/pics-app">go to pics</a>
                        </div>
                    </div>
                    <div class="splash-right-bottom">
                        <div style="height:100px; width:285px; background: #eee;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>