<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gallery carousel 1</title>

    <link rel="stylesheet" href="peek-guide-container-mock.css"/>
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="content-area" style="background: #f4f4f4; width: 95%; margin: 0 auto;">


<div class="region-1-carousel row">
    <h2 class="region-v1-section-header">More Ubr Pics</h2>
    <div class="pk-guide-container">
<h3 class="guide-header-text-link">Themes » Silicon Valley / Tech</h3>
        <div class="row">
            <div class="pk-guide-container-content-left col-md-6 col-sm-6 col-xs-6">
                <div class="guide-img-full">
                    <div class="photo-container">
                    <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/></div>
                </div>
            </div>
        <div class="pk-guide-container-content-right col-md-6 col-sm-6 col-xs-6">

            <div class="guide-img-half">
                <div class="photo-container">
                <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/></div>
                </div>
            <div class="guide-img-half">
                <div class="photo-container">
                <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/></div>
                </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>


</body>
</html>