
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../styles/jumbotron.css" rel="stylesheet">
    <link href="../../../bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="../../../styles/my-custom-gbs.css" rel="stylesheet">
    <link href="../../../styles/my-admob.css" rel="stylesheet">
    <link href="../../../styles/peek-gc-1-mock.css" rel="stylesheet">
    <link rel="stylesheet" href="../peek-guide-container/peek-guide-container-mock.css"/>
    <link rel="stylesheet" href="../../../styles/current-options.css"/>
    <link rel="stylesheet" href="../peek-itinerary-container/peek-itinerary-container.css"/>
    <link href="../../../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../google-express/gexpress-secondary-banner/gexpress-secondary-banner.css" rel="stylesheet">
    <link href="../google-express/gexpress-merchant-module/gexpress-merchant-module.css" rel="stylesheet">
    <link href="../peek-itinerary-container/peek-itinerary-container.css" rel="stylesheet">
    <link href="simple-gallery.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body class="pics-gallery">

<div class="pics-gallery-tb-wrapper">
<div class="container tb pics-gallery">
    <div class="top-banner">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UbrPics</a>
    </div>
</div>
</div>
<nav class="navbar navbar-inverse">


    <div class="container">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="list-inline">
                <li class="first"><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="row services">-->

    <!--<h1 class="md-display-2">Our Services</h1>-->
<!--</div>-->




<div class="container the-pics-gallery-content ubrmain">



<div class="row center material-card">
        <div class="row">
            <div class="row center service-intro-current-options">

                <h1 class="current-options-page-title">
                   Current Profile Options
                    <!-- Get Empowering Pics -->
                </h1>
                <p class="service-intro-co">
                    Below is our current pics gallery containing pre-crafted and tested set ups. Explore them and check them out. We are continuing to experiment and add more offerings.
                </p>


            </div>

        </div>

        <div class="category-container">
        <div class="sectionModuleContainer-mp card">


            <div class="sectionModuleHeader flex-container">
                <a href="" style="display:none;">
                    <img class="moduleHeaderLogo" src="" alt=""/>
                </a>
                <div class="flex-one">
                    <a href="">
                        <h2 class="moduleHeaderTitle-mp">
                            Most Popular
                        </h2>
                    </a>
                </div>
                <a href="" class="md-primary md-button md-default-theme">
                <span>
                   GO TO PICS
                </span>
                </a>
        </div>
        </div>

        </div> <!--category 1 -->



        <!-- the the content section -->

            <div layout="row" layout-wrap class="simple-gallery-container" layout-padding>

            <div class="" flex="33" >
                <div class="card-1">
                    <div class="image-container" style="position: relative">
                        <a href="">
                            <img src="../../../images/evan_snapchat.jpg" alt=""/>
                        </a>
                        <div class="littleimg">
                            <img src="../../../images/snapchat-logo-250250.png"  alt=""/>
                        </div>
                    </div>


                    <div class="contentPanel">

                        <div class="headlineText">
                            Snapchat It
                        </div>

                        <div class="subheadText">
                            The story of Snapchat is an exciting one...
                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">

                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/apple-woman-350.png" alt=""/>
                        </a>
                        <div class="littleimg">
                            <img src="../../../images/apple-aluminum.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            iExec
                        </div>

                        <div class="subheadText">
                            Get a photo inspired by the Apple executive
                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">
                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/googleexec.jpg" alt=""/>
                        </a>
                        <div class="littlelongimg">
                            <img src="../../../images/googlelogo250.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            Search Engine Giant
                        </div>

                        <div class="subheadText">
                            Get a photo like the Google's management team.

                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div></div>
            </div>




            <div class="" flex="33" >
                <div class="card-1">
                    <div class="image-container" style="position: relative">
                        <a href="">
                            <img src="../../../images/torke-large-1.jpeg" alt=""/>
                        </a>
                        <div class="littlelongimg-joto">
                            <img src="../../../images/jotothemes-logo-white-small.png"  alt=""/>
                        </div>
                    </div>


                    <div class="contentPanel">

                        <div class="headlineText">
                            Snapchat It
                        </div>

                        <div class="subheadText">
                            The story of Snapchat is an exciting one...
                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">

                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/bluebottle/phoebe-peronto.jpg" alt=""/>
                        </a>
                        <div class="littleimg">
                            <img src="../../../images/gv-logo-icon.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            iExec
                        </div>

                        <div class="subheadText">
                            Get a photo inspired by the Apple executive
                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">
                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/bluebottle/nadella_3079372b.jpg" alt=""/>
                        </a>
                        <div class="littleimg">
                            <img src="../../../images/msoft-logo.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            Search Engine Giant
                        </div>

                        <div class="subheadText">
                            Get a photo like the Google's management team.

                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div></div>
            </div>


            <div class="" flex="33">
                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/cosmo-editor-cropped.jpeg" alt=""/>
                        </a>
                        <div class="littlelongimg-joto">
                            <img src="../../../images/cosmo-logo-little-long.jpg"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            Search Engine Giant
                        </div>

                        <div class="subheadText">
                            Get a photo like the Google's management team.

                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">
                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/subway.jpg" alt=""/>
                        </a>
                        <div class="littlelongimg">
                            <img src="../../../images/googlelogo250.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            Search Engine Giant
                        </div>

                        <div class="subheadText">
                            Get a photo like the Google's management team.

                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">
                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/boybluehoving.jpg" alt=""/>
                        </a>
                        <div class="littlelongimg">
                            <img src="../../../images/googlelogo250.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            Search Engine Giant
                        </div>

                        <div class="subheadText">
                            Get a photo like the Google's management team.

                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>


            <div class="" flex="33" >
                <div class="card-1">
                    <div class="image-container" style="position: relative">
                        <a href="">
                            <img src="../../../images/mmayer-1.jpg" alt=""/>
                        </a>
                        <div class="littleimg">
                            <img src="../../../images/yahoo-logo.png"  alt=""/>
                        </div>
                    </div>


                    <div class="contentPanel">

                        <div class="headlineText">
                            Snapchat It
                        </div>

                        <div class="subheadText">
                            The story of Snapchat is an exciting one...
                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">

                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/bluebottle/kevin-rose2.jpg" alt=""/>
                        </a>
                        <div class="littleimg">
                            <img src="../../../images/gv-logo-icon.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            iExec
                        </div>

                        <div class="subheadText">
                            Get a photo inspired by the Apple executive
                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="" flex="33">
                <div class="card-1">
                    <div class="image-container">
                        <a href="">
                            <img src="../../../images/googleexec.jpg" alt=""/>
                        </a>
                        <div class="littlelongimg">
                            <img src="../../../images/googlelogo250.png"  alt=""/>
                        </div>
                    </div>

                    <div class="contentPanel">

                        <div class="headlineText">
                            Search Engine Giant
                        </div>

                        <div class="subheadText">
                            Get a photo like the Google's management team.

                        </div>

                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            </div>









    </div>







    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
</body>
</html>
