<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gallery carousel 1</title>
    <link rel="stylesheet" href="gexpress-secondary-banner.css"/>
    <link href="../../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>


<div class="content-area" style="background: #f4f4f4; width: 95%; margin: 0 auto;">

    <div class="sectionModuleContainer card">
    <div class="sectionModuleHeader flex-container">
            <a href="">
                <img class="moduleHeaderLogo" src="" alt=""/>
            </a>
            <div class="flex-one">
                <a href="">
                    <h2 class="moduleHeaderTitle">
                        Most Popular
                    </h2>
                </a>
            </div>
            <a href="" class="md-primary md-button md-default-theme">
                <span>
                   GO TO PICS
                </span>
            </a>
        </div>
    </div>





    <!-- the the content section -->


   <div class="flex-container-secondary">
        <div class="flex-item card">
            <div class="image-container" style="position: relative">
                <a href="">
                    <img src="../../../../images/evan_snapchat.jpg" alt=""/>
                </a>
                <div class="littleimg">
                    <img src="../../../../images/snapchat-logo-250250.png"  alt=""/>
                </div>
            </div>

            <div class="contentPanel">

                <div class="headlineText">
                    Snapchat It
                </div>

                <div class="subheadText">
                    The story of Snapchat is an exciting one...
                </div>

                <div class="callToAction">
                    <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                    </a>


                </div>
            </div>
        </div>
       <div class="flex-item card">
           <div class="image-container">
               <a href="">
                   <img src="../../../../images/apple-woman-350.png" alt=""/>
               </a>
               <div class="littleimg">
                   <img src="../../../../images/apple-aluminum.png"  alt=""/>
               </div>
           </div>

           <div class="contentPanel">

               <div class="headlineText">
                   iExec
               </div>

               <div class="subheadText">
                   Get a photo inspired by the Apple executive
               </div>

               <div class="callToAction">
                   <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                   </a>


               </div>
           </div>
       </div>
       <div class="flex-item card">
           <div class="image-container">
               <a href="">
                   <img src="../../../../images/googleexec.jpg" alt=""/>
               </a>
               <div class="littlelongimg">
                   <img src="../../../../images/googlelogo250.png"  alt=""/>
               </div>
           </div>

           <div class="contentPanel">

               <div class="headlineText">
                   Search Engine Giant
               </div>

               <div class="subheadText">
                   Get a photo like the Google's management team.

               </div>

               <div class="callToAction">
                   <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                   </a>


               </div>
           </div>
       </div>
    </div>
 </div>


</body>
</html>