<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gallery carousel 1</title>
    <link rel="stylesheet" href="gexpress-merchant-module.css"/>
    <link href="../../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>


<div class="content-area" style="background: #f4f4f4; width: 95%; margin: 0 auto;">

    <h3>Product grid 1 - full width image; border - no section header</h3>
    <div class="sectionModuleContainer card">
        <div class="sectionModuleHeader sectionModuleHeader-layout">
            <a href="">
                <img class="moduleHeaderLogo" src="../../../../images/siliconvalley-logo.png" alt=""/>
            </a>
            <div class="flex-one">
                <a href="">
                    <h2 class="moduleHeaderTitle">
                        Most Popular
                    </h2>
                </a>
            </div>
            <a href="" class="md-primary md-button md-default-theme">
                <span>
                   GO TO PICS
                </span>
            </a>
        </div>
        <section class="productListContentContainer">

    <div class="merchantModuleListContentContainer">
        <ul class="productGridV2 unordered-list-container">
            <li class="list-cell-1">
                <div class="stack">

                <img src="../../../../images/googleexec.jpg" alt=""/>
               
                    <div class="stack list-cell-content">


                        <div class="headlineText">
                            Search Giant
                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="subheadText-mm">
                            Get a photo like the Google's management team.

                        </div>

                    </div>
                    <div class="stack list-cell-content">
                    <div class="price-and-call-to-action">
                        <div class="price">
                            $99
                        </div>
                        <div class="callToAction">
                            <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                            </a>


                        </div>
                    </div>
                    </div>
            </div>

            </li>
            <li class="list-cell-1">
                <div class="stack">

                    <img src="../../../../images/evan_snapchat.jpg" alt=""/>

                    <div class="stack list-cell-content">


                        <div class="headlineText">
                            Snapchat It
                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="subheadText-mm">
                            The story of Snapchat is an exciting one...

                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="price-and-call-to-action">
                            <div class="price">
                                $99
                            </div>
                            <div class="callToAction">
                                <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>


            </li>
            <li class="list-cell-1">
                <div class="stack">

                    <img src="../../../../images/apple-woman-350.png" alt=""/>

                    <div class="stack list-cell-content">


                        <div class="headlineText">
                            iExec Profile
                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="subheadText-mm">
                            Get a photo inspired by the Apple executive.

                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="price-and-call-to-action">
                            <div class="price">
                                $99
                            </div>
                            <div class="callToAction">
                                <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-cell-1">
                <div class="stack">

                    <img src="../../../../images/bluebottle/phoebe-peronto.jpg" alt=""/>

                    <div class="stack list-cell-content">


                        <div class="headlineText">
                            Google Ventures w01
                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="subheadText-mm">
                            Inpired by the Venture Capital segment of Google this...

                        </div>

                    </div>
                    <div class="stack list-cell-content">
                        <div class="price-and-call-to-action">
                            <div class="price">
                                $99
                            </div>
                            <div class="callToAction">
                                <a class="md-primary md-button md-default-theme">
                        <span class="ng-scope">
                           SEE MORE
                        </span>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </li>
           
        </ul>
    </div>


        </section>
    </div>

    <h3>Product grid 2 - not full width image; still grid and border - with section header</h3>
    <div class="sectionModuleContainer card">
        <div class="sectionModuleHeader sectionModuleHeader-layout">
            <a href="">
                <img class="moduleHeaderLogo" src="../../../../images/siliconvalley-logo.png" alt=""/>
            </a>
            <div class="flex-one">
                <a href="">
                    <h2 class="moduleHeaderTitle">
                        Most Popular
                    </h2>
                </a>
            </div>
            <a href="" class="md-primary md-button md-default-theme">
                <span>
                   GO TO PICS
                </span>
            </a>
        </div>
        <section class="productListContentContainer">
            <header class="contentModuleHeader">
                <a href="" class="productCarouselContentTitle">Other Description like Best Sellers</a>
            </header>
            <div class="merchantModuleListContentContainer">
                <ul class="productGridV2 unordered-list-container">
                    <li class="list-cell-product-grid">
                        <div class="stack">

                            <img src="../../../../images/googleexec.jpg" alt=""/>

                            <div class="stack">


                                <div class="nameofproduct panel">
                                    <span>The name of the product</span>
                                </div>
                            </div>
                            <div class="stack">
                                <div class="price-of-the-product panel">
                                    <p> This is the price of the product</p>
                                </div>
                                <div class="price panel">
                                    99
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-cell-product-grid">
                        <div>
                            <img src="../../../../images/googleexec.jpg" alt=""/>
                        </div>

                    </li>
                    <li class="list-cell-product-grid">
                        <div>
                            <img src="../../../../images/googleexec.jpg" alt=""/>
                        </div>
                    </li>
                    <li class="list-cell-product-grid">
                        <div>
                            <img src="../../../../images/googleexec.jpg" alt=""/>
                        </div>
                    </li>

                </ul>
            </div>


        </section>
    </div>
    <h3>G-express front page version; no border - with section header</h3>
    <div class="sectionModuleContainer card">
        <div class="sectionModuleHeader sectionModuleHeader-layout">
            <a href="">
                <img class="moduleHeaderLogo" src="../../../../images/siliconvalley-logo.png" alt=""/>
            </a>
            <div class="flex-one">
                <a href="">
                    <h2 class="moduleHeaderTitle">
                        Most Popular
                    </h2>
                </a>
            </div>
            <a href="" class="md-primary md-button md-default-theme">
                <span>
                   GO TO PICS
                </span>
            </a>
        </div>
        <section class="productListContentContainer">
            <header class="contentModuleHeader">
                <a href="" class="productCarouselContentTitle">Other Description like Best Sellers</a>
            </header>
            <div class="merchantModuleListContentContainer">
                <ul class="productGridV2 unordered-list-container">
                    <li class="list-cell-1">
                        <div class="stack">

                            <img src="../../../../images/googleexec.jpg" alt=""/>

                            <div class="stack">


                                <div class="nameofproduct panel">
                                    <span>The name of the product</span>
                                </div>
                            </div>
                            <div class="stack">
                                <div class="price-of-the-product panel">
                                    <p> This is the price of the product</p>
                                </div>
                                <div class="price panel">
                                    99
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="list-cell-1">
                        <div>
                            <img src="../../../../images/googleexec.jpg" alt=""/>
                        </div>

                    </li>
                    <li class="list-cell-1">
                        <div>
                            <img src="../../../../images/googleexec.jpg" alt=""/>
                        </div>
                    </li>
                    <li class="list-cell-1">
                        <div>
                            <img src="../../../../images/googleexec.jpg" alt=""/>
                        </div>
                    </li>

                </ul>
            </div>


        </section>
    </div>


</div>
<!--<li class="list-cell">-->
    <!--<div class="productCard">-->
        <!--<div class="">-->
            <!--<div class="">-->
                <!--<img src="" alt=""/>-->
            <!--</div>-->
            <!--<div class="">-->
                <!--<a href="" class="productName">This is the product name.</a>-->
                <!--<div class="reviewsArea">-->
                    <!--here is the review area-->
                <!--</div>-->
                <!--<div class="productPriceArea flex-container">-->
                    <!--<span class="productPrice">$99.99</span>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</li>-->

</body>
</html>