
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ubrpics</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../styles/jumbotron.css" rel="stylesheet">
    <link href="../../../bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="../../../styles/my-custom-gbs.css" rel="stylesheet">
    <link href="../../../styles/my-admob.css" rel="stylesheet">
    <link href="product.css" rel="stylesheet">
    <link href="../../components/admob-hero-callouts/hero-callout.css" rel="stylesheet">
    <link href="../../../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../../node_modules/font-awesome-plus/css/font-awesome.css" rel="stylesheet">

</head>

<body>

<div class="container tb">

    <!-- responsive toggle button -->
    <div class="top-banner clearfix">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UbrPics</a>
    </div>

  <!--  main content area -->



</div>


<!-- the normal navbar -->
<nav class="navbar navbar-inverse">


    <div class="container">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="list-inline">
                <li class="first"><a href="#">Home</a></li>
                <li><a href="views/services.html">Services</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>






<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="container pands ubrmain site-width-admob">
    <!-- Example row of columns -->
    <div layout="row" class="product-main" layout-fill>
        <div layout="column" flex="50">
            <div class="product-image">
                <img src="../../../images/evan_snapchat.jpg" alt=""/>
            </div>
    <div class="more-information">
<h4 class="product-info-header">More Information</h4>
        <div class="map-right">
            <img src="../../../images/map-mock.png" alt=""/>
        </div>
        <p><span class="span-title">
            Style Guide:
        </span> Backdrop and Lighting technique is very flexible and allows
            for multiple colors. Optimized is neutral
            outershirt and dark or colorful under garment for contrast.</p>
        <p><span class="span-title">Cancallation Policy:</span> 24 hours in advance.</p>
        <p><span class="span-title">Photoshoot details:</span>
            Please show up 10 minutes before your scheduled appointment to ensure vest results. You are welcome to bring a change of shirt to try on 2 different colors.
        </p>
        <p><span class="span-title">Photographer:</span> Varies.</p>
    </div>

        </div>
        <div flex="50">
            <div layout="row" layout-align="center">
                <div flex="80" class="product-description">
                <h4 class="product-info-header">About G Venturefied 01</h4>
                <p>In recent years a casual style to the office hs been on the ride, but that doesn't mean that you are not a person who gets things done at a high level and you are super competitive in a conscious long term way. All of this is expressed and invoked in G Venturefied. The photo approach is inspired by <a href="#">Google Ventures </a>an admired part of a great company.</p>
                    <div class="calendar-mock-container" layout="row" layout-align="center">
                    <div class="calendar-mock">
                    <img src="../../../images/calendar-mock.png" alt=""/>
                    </div>
                    </div>
                    <div class="signup-info-flex-container" layout="row" layout-align="center">
                      <div class="signup-info">
                    <div class="quantity"><span class="span-quantity">Quantity:</span>
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                        <span class="product-price">
                            $99.00
                        </span>
                    </div>

                    <div class="quantity-notes">
                        <div class="discount-info">
                            10% off when signing up 2 or more.

                        
                        Have 5 or more? See out group options.
                        </div>
                    </div>
                          <div class="button-container">
                    <button class="cta-admob-btn">Sign Up</button>
                          </div>
                      </div>
                      </div>
               </div>
            </div>
        </div>
    </div>

    <div class="row admon-logos-section">
        this is where info about siliconvalley fie or the
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../../../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
</body>
</html>
