
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Ubrpics</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../styles/jumbotron.css" rel="stylesheet">
    <link href="../../bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="../../styles/my-custom-gbs.css" rel="stylesheet">
    <link href="../../styles/my-admob.css" rel="stylesheet">
    <link href="../../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>

<div class="container tb">
    <div class="top-banner">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UbrPics</a>
    </div>
</div>
<nav class="navbar navbar-inverse">


    <div class="container">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="list-inline">
                <li class="first"><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="row services">-->

    <!--<h1 class="md-display-2">Our Services</h1>-->
<!--</div>-->
<div class="container services-content ubrmain">
    <div class="row service-tab-links">
        <!--<div class="col-md-4"><div class="md-title tabs-services1"><a href="#">1. Featured offering</a></div></div>-->
        <!--<div class="col-md-4"><div class="md-title"><a href="#">2. Meetup & Group Opportunites</a></div></div>-->
        <!--<div class="col-md-4"><div class="md-title"><a href="#">3. Custom or Additional Service</a></div></div>-->
        <div class="col-md-12">
            <ol class="tabs-services">
        <li class="md-title"><a href="#">Featured offering</a></li>
        <li class="md-title"><a href="#">Meetup & Group Opportunites</a></li>
        <li class="md-title"><a href="#">Custom or Additional Service</a></li>
    </ol>
        </div>
    </div>
    <div class="row">
        <div class="row center service-intro">

                <h1 class="i-service-title-group">
                    Fund Your Meetups
                    <!-- Get Empowering Pics -->
                </h1>
                <p class="service-intro-p">
                    Ubrpics looks for fresh approaches and options, so you can supercharge your pics, and maximize your professional or semi-professional impression online. Ubrpics wants people to enjoy having pics with the same quality and power as the influencers and icons.
                </p>
            <!--<p class="service-intro-p">-->
                <!--Ubrpics provides pics modeled after icons & influencers, or people in iconic-->
                <!--and influencing positions. So you can get smart looking pics and some additional kindred empowerment-->
                <!--by getting pics inspired by people you respect and admire.-->
            <!--</p>-->


        </div>

    </div>




    <div class="row center material-card">

        <div class="row card-section sect-1">
            <div class="col-md-5">
                <div class="service-figure">

                            <img class="" src="../../images/meetupjess.jpg" alt="Generic placeholder image"></a>

               </div>
           </div>


            <div class="col-md-7">
                <h2 class="card-feature-blurb">
                    Meetups - something about meetups here.
                </h2>
                <div class="card-service-desc">
                <p>
                    Segment your audiences to gain insights into how people use your app differently. For example, segment by age, location, and amount spent to see which group of users is driving the most in-app purchases (virtual goods and e-commerce). Sequence-based segments offer deeper insights and can help uncover new opportunities to increase revenue
                    <a class="ps-learn-more" href="">Learn more</a>
                </p>
            </div>
            </div>

            <div class="col-md-12 center">
                <a class="btn btn-primary btn-lg" href="#" role="button">Get Pics</a>
            </div>
        </div>

        <div class="row card-section sect-2">

            <div class="col-md-7">
                <h2 class="card-feature-blurb">
                    Pic options modeled after Local & Secondary Influencers.
                </h2>
                <div class="card-service-desc">
                    <p>
                        Segment your audiences to gain insights into how people use your app differently. For example, segment by age, location, and amount spent to see which group of users is driving the most in-app purchases (virtual goods and e-commerce). Sequence-based segments offer deeper insights and can help uncover new opportunities to increase revenue
                        <a class="ps-learn-more" href="">Learn more</a>
                    </p>
                </div>
            </div>

            <div class="col-md-5">
                <div class="service-figure">

                    <img src="../../images/jtorke-1.png" alt=""/>

                </div>
            </div>

        </div>

        <div class="row card-section sect-3">
            <div class="col-md-5">
                <div class="service-figure">

                    <img src="../../images/YPN-portrait-pinchock-1.jpg" alt=""/>

                </div>
            </div>

            <div class="col-md-7">
                <h2 class="card-feature-blurb">
                    Making it easier to use smart locations as your backdrops.
                </h2>
                <div class="card-service-desc">
                    <p>
                        Segment your audiences to gain insights into how people use your app differently. For example, segment by age, location, and amount spent to see which group of users is driving the most in-app purchases (virtual goods and e-commerce). Sequence-based segments offer deeper insights and can help uncover new opportunities to increase revenue
                        <a class="ps-learn-more" href="">Learn more</a>
                    </p>
                </div>
            </div>

        </div>


    </div>






    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
</body>
</html>
