
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../styles/jumbotron.css" rel="stylesheet">
    <link href="../../bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="../../styles/my-custom-gbs.css" rel="stylesheet">
    <link href="../../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>

<div class="container tb">
    <div class="top-banner">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UbrPics</a>
    </div>
</div>
<nav class="navbar navbar-inverse">


    <div class="container">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="list-inline">
                <li class="first"><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row services">

    <h1 class="md-display-2">Our Services</h1>
</div>
<div class="container services-content ubrmain">
    <div class="row service-tab-links">
        <!--<div class="col-md-4"><div class="md-title tabs-services1"><a href="#">1. Featured offering</a></div></div>-->
        <!--<div class="col-md-4"><div class="md-title"><a href="#">2. Meetup & Group Opportunites</a></div></div>-->
        <!--<div class="col-md-4"><div class="md-title"><a href="#">3. Custom or Additional Service</a></div></div>-->
        <div class="col-md-12">
            <ol class="tabs-services">
        <li class="md-title"><a href="#">Featured offering</a></li>
        <li class="md-title"><a href="#">Meetup & Group Opportunites</a></li>
        <li class="md-title"><a href="#">Custom or Additional Service</a></li>
    </ol>
        </div>
    </div>
    <div class="row service-one">
        <div class="col-md-12 center">

                <h2 class="i-service-title">
                    Pre crafted Inspired By Influencers
                </h2>

        </div>
        <div class="col-md-12 center">
            <div class="i-service-desc">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    <a class="ps-learn-more" href="">Learn more</a>
                </p>
            </div>
        </div>
        <div class="col-md-12 center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Pics</a>
        </div>
        <div class="col-md-12">
            <div class="service-figure">
                <img src="../../images/iphone4s-mockup.jpg" alt=""/>
            </div>
        </div>
    </div>
    <div class="row service service-two">
        <div class="col-md-12 center">

            <h2 class="i-service-title">
                Meetup & Group Opportunites
            </h2>

        </div>
        <div class="col-md-12 center">
            <div class="i-service-desc">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    <a class="ps-learn-more" href="">Learn more</a>
                </p>
            </div>
        </div>
        <div class="col-md-12 center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Pics</a>
        </div>
        <div class="col-md-12">
            <div class="service-figure">
                <img src="../../images/iphone4s-mockup.jpg" alt=""/>
            </div>
        </div>
    </div>
    <div class="row service service-three">
        <div class="col-md-12 center">

            <h2 class="i-service-title">
                Custom or Additional Service
            </h2>

        </div>
        <div class="col-md-12 center">
            <div class="i-service-desc">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    <a class="ps-learn-more" href="">Learn more</a>
                </p>
            </div>
        </div>
        <div class="col-md-12 center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Pics</a>
        </div>
        <div class="col-md-12">
            <div class="service-figure">
                <img src="../../images/iphone4s-mockup.jpg" alt=""/>
            </div>
        </div>
    </div>
    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
</body>
</html>
