
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../styles/jumbotron.css" rel="stylesheet">
    <link href="../../bower_components/angular-material/angular-material.css" rel="stylesheet">
    <link href="../../styles/my-custom-gbs.css" rel="stylesheet">
    <link href="../../styles/my-admob.css" rel="stylesheet">
    <link href="../../styles/peek-gc-1-mock.css" rel="stylesheet">
    <link rel="stylesheet" href="../components/peek-guide-container/peek-guide-container-mock.css"/>
    <link rel="stylesheet" href="../components/peek-itinerary-container/peek-itinerary-container.css"/>
    <link href="../../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body class="pics-gallery">

<div class="pics-gallery-tb-wrapper">
<div class="container tb pics-gallery">
    <div class="top-banner">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">UbrPics</a>
    </div>
</div>
</div>
<nav class="navbar navbar-inverse">


    <div class="container">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="list-inline">
                <li class="first"><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="row services">-->

    <!--<h1 class="md-display-2">Our Services</h1>-->
<!--</div>-->
<div class="container the-pics-gallery-content ubrmain">
    <div class="row center material-card">
        <div class="row">
            <div class="row center service-intro-pics-gallery">

                <h1 class="i-service-title">
                    The Pics Gallery
                    <!-- Get Empowering Pics -->
                </h1>
                <p class="service-intro-p">
                    Below is our current pics gallery containing pre-crafted and tested set ups. Explore them and check them out. We are continuing to experiment and add more offerings.
                </p>


            </div>

        </div>
        <div class="region-1-carousel row">
            <h2 class="region-v1-section-header">Famous Icons & Influencers</h2>
            <div class="pk-gc-arrow-container js-carousel">
                <div class="pk-outer-gc-container">

                    <div class="pk-inner-container row">
                        <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                            href="">
                        <img src="../../images/apple-woman-350.png" alt="" class="res-listin-img"/>
                        <div class="photo-pricetag"></div>
                        <div class="gradient-footer">
                            <h4 class="footer-item footer-item-heading one-line-text">
                                iProfilePic <span class="sub-content">testing the subcontent</span>
                            </h4>
                        </div>

                    </a>
                    </div>
                        <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                                href="">
                            <img src="../../images/evan_snapchat.jpg" alt="" class="res-listin-img"/>
                            <div class="photo-pricetag"></div>
                            <div class="gradient-footer">
                                <h4 class="footer-item footer-item-heading one-line-text">
                                    FounderSnap <span class="sub-content">testing the subcontent</span>
                                </h4>
                            </div>

                        </a>
                        </div>
                        <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                                href="">
                            <img src="../../images/crimson_pres_cropped.jpeg" alt="" class="res-listin-img"/>
                            <div class="photo-pricetag"></div>
                            <div class="gradient-footer">
                                <h4 class="footer-item footer-item-heading one-line-text">
                                    Crimson Pres <span class="sub-content">testing the subcontent</span>
                                </h4>
                            </div>

                        </a>
                        </div>
                        <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                                href="">
                            <img src="../../images/bluebottle/nadella_3079372b.jpg" alt="" class="res-listin-img"/>
                            <div class="photo-pricetag"></div>
                            <div class="gradient-footer">
                                <h4 class="footer-item footer-item-heading one-line-text">
                                    Top of the Soft 15<span class="sub-content">testing the subcontent</span>
                                </h4>
                            </div>

                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="region-1-carousel row">
            <h2 class="region-v1-section-header">Secondary Influencers</h2>
            <div class="pk-gc-arrow-container js-carousel">
                <div class="pk-outer-gc-container">

                    <div class="pk-inner-container row">
                    <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                            href="">
                        <img src="../../images/torke-large.jpeg" alt="" class="res-listin-img"/>
                        <div class="photo-pricetag"></div>
                        <div class="gradient-footer">
                            <h4 class="footer-item footer-item-heading one-line-text">
                                PressIt 01 <span class="sub-content">testing the subcontent</span>
                            </h4>
                        </div>

                    </a>
                    </div>
                    <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                            href="">
                        <img src="../../images/bluebottle/marthastewart-mediakit.png" alt="" class="res-listin-img"/>
                        <div class="photo-pricetag"></div>
                        <div class="gradient-footer">
                            <h4 class="footer-item footer-item-heading one-line-text">
                                Martha's Staff<span class="sub-content">testing the subcontent</span>
                            </h4>
                        </div>

                    </a>
                    </div>
                    <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                            href="">
                        <img src="../../images/Eric-corton-interview.jpg" alt="" class="res-listin-img"/>
                        <div class="photo-pricetag"></div>
                        <div class="gradient-footer">
                            <h4 class="footer-item footer-item-heading one-line-text">
                                Dutch Presenter <span class="sub-content">testing the subcontent</span>
                            </h4>
                        </div>

                    </a>
                    </div>
                    <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                            href="">
                        <img src="../../images/YPN-portrait-pinchock-1.jpg" alt="" class="res-listin-img"/>
                        <div class="photo-pricetag"></div>
                        <div class="gradient-footer">
                            <h4 class="footer-item footer-item-heading one-line-text">
                                The YP Network 1<span class="sub-content">testing the subcontent</span>
                            </h4>
                        </div>

                    </a>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="region-1-carousel row">
            <h2 class="region-v1-section-header">More UbrPics</h2>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="pk-guide-container">
            <h3 class="guide-header-text-link">Themes » Silicon Valley / Tech</h3>
            <div class="row">
                <div class="pk-guide-container-content-left col-md-6 col-sm-6 col-xs-6">
                    <div class="guide-img-full">
                        <div class="photo-container">
                            <img src="../../images/googleexec.jpg" alt="" class="res-listin-img"/></div>
                        <div class="gradient-footer">
                            <h4 class="footer-item footer-item-heading one-line-text">
                                iProfilePic <span class="sub-content">testing the subcontent</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="pk-guide-container-content-right col-md-6 col-sm-6 col-xs-6">

                    <div class="guide-img-half">
                        <div class="photo-container">
                            <img src="../../images/bluebottle/phoebe-peronto.jpg" alt="" class="res-listin-img"/>
                            <div class="gradient-footer">
                                <h4 class="footer-item footer-item-heading one-line-text">
                                    iProfilePic <span class="sub-content">testing the subcontent</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="guide-img-half">
                        <div class="photo-container">
                            <img src="../../images/bluebottle/eze.jpg" alt="" class="res-listin-img"/>
                            <div class="gradient-footer">
                                <h4 class="footer-item footer-item-heading one-line-text">
                                    iProfilePic <span class="sub-content">testing the subcontent</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="pk-guide-container">
            <h3 class="guide-header-text-link">Other » Cheeky Setups</h3>
            <div class="row">
                <div class="pk-guide-container-content-left col-md-6 col-sm-6 col-xs-6">
                    <div class="guide-img-full">
                        <div class="photo-container">
                            <img src="../../images/girlflying.jpg" alt="" class="res-listin-img"/></div>
                    </div>
                </div>
                <div class="pk-guide-container-content-right col-md-6 col-sm-6 col-xs-6">

                    <div class="guide-img-half">
                        <div class="photo-container">
                            <img src="../../images/cliffsofDover.jpg" alt="" class="res-listin-img"/></div>
                    </div>
                    <div class="guide-img-half">
                        <div class="photo-container">
                            <img src="../../images/stress_one-913.jpeg" alt="" class="res-listin-img"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="pk-guide-container">
            <h3 class="guide-header-text-link">Other » Cool Locations</h3>
            <div class="row">
                <div class="pk-guide-container-content-left col-md-6 col-sm-6 col-xs-6">
                    <div class="guide-img-full">
                        <div class="photo-container">
                            <img src="../../images/YPN-portrait-festo-cropped.jpg" alt="" class="res-listin-img"/></div>
                    </div>
                </div>
                <div class="pk-guide-container-content-right col-md-6 col-sm-6 col-xs-6">

                    <div class="guide-img-half">
                        <div class="photo-container">
                            <img src="../../images/subway.jpg" alt="" class="res-listin-img"/></div>
                    </div>
                    <div class="guide-img-half">
                        <div class="photo-container">
                            <img src="../../images/cosmo-editor-cropped.jpeg" alt="" class="res-listin-img"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>

        <div class="row itinerary-row">
            <h2 class="region-v1-section-header">Highlighted Photogs & Style Gurus</h2>
            <div class="col-md-4">
                <div class="pk-itinerary-container">
                    <div class="background-photo-2"></div>
                    <div class="background-photo-1"></div>
                    <a href="#" class="photo-itinerary image-link">
                        <div class="photo-container-itinerary">
                            <img src="https://d2fijpsef22722.cloudfront.net/photos/small/3720518668-in-the-neighborhood-with-kevin-negandhi.jpg" class="itinerary-main-image" alt=""/>
                        </div>
                        <div class="title-overlay">
                            <h4 class="res-pd-listing-text">
                                Natural backdrops with photojournalist Mark Stehle
                            </h4>
                        </div>
                        <div class="portrait-overlay">
                            <p class="perfect-day clock res-pd-listing-heading">The Perfect Profile</p>
                            <img alt="portrait image" class="profile" src="../../images/markestehle.png">

                        </div>
                    </a>
                    <div class="wishable-tooltip">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pk-itinerary-container">
                    <div class="background-photo-2"></div>
                    <div class="background-photo-1"></div>
                    <a href="#" class="photo-itinerary image-link">
                        <div class="photo-container-itinerary">
                            <img src="../../images/colorblocks.png" class="itinerary-main-image" alt=""/>
                        </div>
                        <div class="title-overlay">
                            <h4 class="res-pd-listing-text">
                                A focus on color with local stylist Cat Kora.
                            </h4>
                        </div>
                        <div class="portrait-overlay">
                            <p class="perfect-day clock res-pd-listing-heading">The Perfect Profile</p>
                            <img alt="portrait image" class="profile" src="../../images/cat.png">

                        </div>
                    </a>
                    <div class="wishable-tooltip">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>

    </div>






    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
</body>
</html>
