<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>gallery carousel 1</title>


    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="content-area" style="background: #f4f4f4; width: 95%; margin: 0 auto;">


<div class="region-1-carousel row">
    <h2 class="region-v1-section-header">Icons & Influencers</h2>
<div class="pk-gc-arrow-container js-carousel">
    <div class="pk-outer-gc-container">

            <div class="pk-inner-container row row-of-4-listing">
                <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3"><a
                        href="">
                    <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/>
                <div class="photo-pricetag"></div>
                    <div class="gradient-footer">
                        <h4 class="footer-item footer-item-heading one-line-text">
                            iProfilePic <span class="sub-content">testing the subcontent</span>
                        </h4>
                    </div>

                </a>
                </div>
                <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3">
                    <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/>
                </div>
                <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3">
                    <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/>
                </div>
                <div class="pk-gc-list-item col-md-3 col-sm-3 col-xs-3">
                    <img src="../../../images/apple-woman-350.png" alt="" class="res-listin-img"/>
                </div>
            </div>
    </div>
</div>
</div>
</div>


</body>
</html>